<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="UVPCE_DBConnectionString" connectionString="Data Source=DIP\SQLEXPRESS;Initial Catalog=UVPCE_DB;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
   <httpHandlers>
     <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
   </httpHandlers>
	</system.web>
</configuration>
